<div class="mail-container">

  <h1>merci beaucoup</h1>

  voilà le récapitulatif de la demande !

  <div>
    <p> <%= @demand.title %> </p>
    <p> <%= @demand.name %> </p>
    <p> <%= @demand.need.address if @demand.need_type == "ErrandDemand" %> </p>
  </div>

</div>

