<% @needs.each do |need| %>
  <%= render "shared/card", need:need %>
<% end %>

<div class="show-map-container close">
  <p class="show-map-title" id="map-toggle">afficher sur la carte</p>
  <div class="map-container">
    <img src="https://source.unsplash.com/random" alt="" />
  </div>
</div>