.flexbox-container {
  display: flex;

  &.column {
    flex-direction: column;
  }

  &.j-center {
    justify-content: center;
  }

  &.j-start {
    justify-content: flex-start;
  }

  &.j-end {
    justify-content: flex-end;
  }

  &.j-between {
    justify-content: space-between;
  }

  &.j-around {
    justify-content: space-around;
  }

  &.j-stretch {
    justify-content: stretch;
  }

  &.a-center {
    align-items: center;
  }

  &.a-start {
    align-items: flex-start;
  }

  &.a-end {
    align-items: flex-end;
  }

  &.a-stretch {
    align-items: stretch;
  }
}
