// general styles
html {
  font-size: 62.5%;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $body-font;
  font-size: 1.4rem;
  color: $dark-gray;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h5 {
  font-family: $body-font;
  margin: 0.8em 0 0.4em;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

::placeholder {
  font-size: 1.4rem;
  color: #d9d8d8;
  font-weight: 300;
}

label,
input,
textarea {
  font-family: $body-font;
  font-size: 1.4rem;
  font-weight: 300;
}


.hide {
  display: none;
}
