<div class="need-card">
  <span class="need-tag"><%= need.tag.name %></span>

  <h4 class="need-author"><%= need.name %></h4>

  <p class="need-distance"> à 5km de distance</p>

  <a href="#" class="button button-light medium">voir sa liste d'épicerie</a>
</div>