<div class="page-wrapper">
  <div class="sort-nav-bar container flexbox-container j-around">
    <div 
      class=" option option-all option-selected">
        tout voir
      </div>
    <div 
      class="option option-errand-demand">
        course
      </div>
    <div
      class="option option-homework">
        aide aux devoirs
      </div>
    <div
      class="option option-homework">
        autre
      </div>
  </div>
  <div class="container demands-cards">
    <% @demands.each do |demand| %>
      <%= link_to demand_path(demand)  do %>
        <%= render "shared/card", need: demand %>
      <% end %>
    <% end %>
  </div>
  <div class="show-map-container close">
    <p class="show-map-title" id="map-toggle">afficher sur la carte</p>
    <div class="map-container">
      <img src="https://source.unsplash.com/random" alt="" />
    </div>
  </div>
  </div>
<%= javascript_pack_tag "map" %> 
<%= javascript_pack_tag "sort-demands" %>