<div class="page success-page">
  <div class="fullheight fullwidth flexbox-container column j-end">
    <div class="container">
      <h1 class="page-title light">bien reçu !</h1>
    </div>
    <div class="green-box">
      <p>votre demande a été créée avec succès !</p>
      <p>vous serez avisé(e) par courriel dès que quelqu’un peut s’en charger.
        d’ici là, restez à la maison et prenez bien soin de vous.</p>
    </div>
  </div>
</div>
