<div class="page success-page">
  <div class="fullheight fullwidth flexbox-container column j-end">
    <div class="container">
      <h1 class="page-title light">bien reçu !</h1>
    </div>
    <div class="green-box">
      <% if params[:location] === "offer" %>
        <%= render "shared/success-page/offer.html.erb" %>
      <% elsif params[:location] === "errand"  %>
        <%= render "shared/success-page/demand" %>
      <% else %>

      <% end %>

    </div>
  </div>
</div>
