<div class="container">
  <p>selectionnez</p>
  <%= link_to "pour faire des courses", new_errand_demand_path, class: "button
  button-block button-plain" %> <%= link_to "pour de l'aide aux devoirs",
  new_homework_demand_path, class: "button button-block button-plain" %> <%=
  link_to "pour papoter, simplement", new_social_demand_path, class: "button
  button-block button-plain" %>
  <div class="button-block">
    <%= link_to "autre chose", new_other_demand_path, class: "button
    button-light" %>
  </div>
</div>
