<div class="container flexbox-container column j-end fullheight">
  <div class="page help-page">
    <div class="introduction">
      <h3>bienvenue sur les uns, les autres.</h3>
      <p>
        Nous avons mis en place cette petite application afin d'aider les personnes qui auraient besoin d'aide pendant cette période un peu compliquée.
      </p>
      <p>
        Avant de vous porter volontaire, n'oubliez pas d'aller lire <%= link_to 'les quelques consignes', safety_path, class: "link-text" %> à respecter en tous temps.
      </p>
    </div>
    <div class="help">
      <%= link_to "j'ai besoin d'aide", choices_path(choice: "need"),
      class:"button button-block button-plain" %>
    </div>
    <div class="help">
      <%= link_to "je peux offrir mon aide", demands_path,
      class:"button button-block button-plain" %>
    </div>
  </div>
</div>
