<div class="page-wrapper">
  <div class="container">
    <h1 class="big-title">
      les trucs légaux à savoir
    </h1>
    <p class="label">les trucs à propos de l'application</p>
    <p class="info-text">l'application a été développée par Alexandre George, Benjamin Domingue et Camille Villard. Elle est hébergée par Heroku. </p>
    <p class="label">la confidentialité</p>
    <p class="info-text">Toutes les données récoltées ne servent qu'à faire fonctionner correctement l'application : aucune donnée personnelle ne sera revendue, redistribuée, redonnée. Vous avez un droit de regard sur les données personelles vous appartement, si vous souhaitez les récupérer, vous pouvez nous envoyer un courriel au <%= link_to 'bonjour@lesunslesautres.com', 'mailto:bonjour@lesunslesautres.com', class: "link-text" %>  </p>
    <p class="label">décharge de responsabilité</p>
    <p class="info-text">en utilisant l'application les uns les autres, vous êtes entièrement responsable des conséquences.</p>
  </div>
</div>


Le Responsable de Traitement de enpremiereligne.fr est Titouan Galopin (titouan@enpremiereligne.fr).

En accord avec le Règlement Général sur la Protection des Données, enpremiereligne.fr collecte des données uniquement à des fins de mise en relation de personnes à visée d'entraide.

Les données collectées par enpremiereligne.fr sont uniquement celles renseignées par les utilisateurs du site internet enpremiereligne.fr. Aucune autre donnée personnelle n'est collectée, notamment grâce à l'utilisation d'une technologie anonyme et sans cookie de mesure d'usage.

Les données collectées dans le cadre du traitement de mise en relation de personnes à des visées d'entraidre sont utilisées uniquement pour cet objectif. Elles sont supprimées automatiquement 1 mois après la mise en relation, ou sur simple demande à titouan@enpremiereligne.fr.

Les données collectées correspondent à des données à caractères personnelles mais ne sont pas des données particulières dites à caractère sensible de par la nature de la collecte (anonymisation des informations partout où cela est possible, utilisation d'intervalles d'âges, mise en relation simple par e-mail, ...).

Vous disposez d'un droit d'accès, de rectification, d’effacement et de portabilité de vos données ainsi que d’un droit d'opposition et d'un droit de limitation du traitement des données vous concernant. Vous pouvez exercer vos droits en nous contactant à l'adresse suivante : titouan@enpremiereligne.fr.
