<div class="page-wrapper">
  <div class="container">
    <h1 class="big-title">
      les trucs légaux à savoir
    </h1>
    <p class="label">les trucs à propos de l'application</p>
    <p class="info-text">l'application a été développée par Alexandre George, Benjamin Domingue et Camille Villard. Elle est hébergée par Heroku. </p>
    <p class="label">la confidentialité</p>
    <p class="info-text">Toutes les données récoltées ne servent qu'à faire fonctionner correctement l'application : aucune donnée personnelle ne sera revendue, redistribuée, redonnée. Vous avez un droit de regard sur les données personelles vous appartement, si vous souhaitez les récupérer, vous pouvez nous envoyer un courriel au <%= link_to 'bonjour@lesunslesautres.com', 'mailto:bonjour@lesunslesautres.com', class: "link-text" %>  </p>
    <p class="label">décharge de responsabilité</p>
    <p class="info-text">en utilisant l'application les uns les autres, vous êtes entièrement responsable des conséquences.</p>
  </div>
</div>
