<div class="page-wrapper">

  <div class="container">
    <h1 class="big-title">vous voulez aider ?</h1>

    <h2>c'est top, c'est génial, même.</h2>
    <p>Pour autant, il y aura quelques petites règles à respecter. Autant pour vous que pour la personne que vous allez aider, le but est de le faire en toute sécurité.</p>

    <h3>quelques mesures de sécurité à respecter.</h3>

    <p class="label">
      le lavage des mains
    </p>
    <p class="info-text">Sans surprise, se laver les mains reste l'un des moyens les plus efficaces pour se protéger et protéger les autres. Lavez-vous les mains très régulièrement, consciencieusement, avec du savon évidemment, et sans oublier les ongles !</p>

    <p class="label">
      restez chez vous
    </p>
    <p class="info-text">Le plus possible, restez chez vous. Ne sortez que si vous en avez vraiment le besoin, essayer de ne pas aller dans des endroits trop fréquentés lors de vos sorties. Tâchez de garder au moins 2 mètres de distance entre vous et les autres. Dans tous les cas, référez-vous à la règle numéro 1 au retour !</p>

    <p class="label">
      toussez dans votre coude.
    </p>
    <p class="info-text">Et pas dans vos mains. Et, évidemment, lavez-vous les mains. Et les coudes. Enfin, lavez-vous quoi.</p>

    <p class="label">
      laissez les sacs à l'entrée.
    </p>
    <p class="info-text">Lorsque vous allez faire l'épicerie pour quelqu'un, laissez les sacs à l'entrée, résistez à la tentation de jaser avec la personne qui récupérera les sacs. Vous aurez tout le loisir de faire connaissance lorsque cette période sera termineé !</p>

  </div>
</div>


