.button {
  font-weight: 800;
  transition: 0.3s;
}

.button-plain {
  border: none;
  background: $green;
  color: $dark-gray;
  padding: 12px;
  &:hover {
    background: $dark-gray;
    color: white;
  }
}

.button-light {
  color: $dark-gray;
  border-bottom: 3px solid $dark-gray;
  padding-bottom: 4px;

  &.medium {
    font-size: 1.6rem;
  }

  &.small {
    font-size: 1.4rem;
  }

  &:hover {
    color: $green;
    border-color: $green;
  }
}

.button-fullwidth {
  width: 100%;
}

.button-block {
  display: block;
  margin: 16px 0;
  text-align: center;
}
