// cards

.need-card {
  background: $off-white;
  padding: 8px 8px 16px;
  border-radius: $small-radius;
  color: $dark-gray;
  position: relative;
  margin: 16px 0;

  .need-card-icon {
    margin-top: 5px;
    margin-right: 10px;
  }

  .need-card-demander {
    margin-left: 10px;
  }

  .need-tag {
    background-color: $dark-green;
    color: $off-white;
    padding: 2px 8px 4px;
    border-radius: $medium-radius;
    position: absolute;
    top: 8px;
    right: 8px;
  }
}

.need-author {
  font-size: 1.6rem;
  margin-bottom: 0;
}

.need-distance {
  color: $medium-gray;
  margin-top: 0;
}
