// cards

.need-card {
  background: $off-white;
  padding: 8px 8px 16px;
  border-radius: $small-radius;
  position: relative;
}

.need-tag {
  position: absolute;
  top: 8px;
  right: 8px;
  background: $dark-green;
  color: $off-white;
  padding: 4px 8px;
  border-radius: $medium-radius;
}

.need-card-title {
  display: flex;
  p {
    padding-top: 3px;
    padding-left: 15px;
  }
}

.need-author {
  font-size: 1.8rem;
  margin-bottom: 4px;
}

.need-distance {
  color: $medium-gray;
  margin-top: 0;
}
