// items
.add-item-toggle {
  color: $off-white;
  font-size: 1.6rem;
  margin-left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .symbol {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $dark-green;
    width: 32px;
    height: 32px;
    margin: 0;
  }

  .content {
    margin: 0;
    margin-left: 8px;
    color: $dark-green;
    font-weight: 600;
  }
}

.add-item-toggle.open {
  display: none;
  // justify-content: flex-end;
  // background: $dark-green;
  // .content {
  // display: none;
  // }
}

.add-item-container {
  margin-bottom: 230px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.add-item-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding-right: 8px;
  padding-left: 5vw;
  background: $dark-green;
  border: none;
  color: $off-white;
  height: 32px;

  input[type="submit"] {
    color: $off-white;
    font-size: 1.6rem;
  }
}

.add-item-input {
  background: $dark-green;
  border: none;
  width: 100%;

  &::placeholder {
    color: $off-white;
  }
}
.add-item-input:focus {
  outline: none;
  background: $dark-green;
  color: $off-white;

  &::placeholder {
    color: $gray;
  }
}

.hide {
  display: none;
}
