// items
.add-item-toggle {
  color: $off-white;
  font-size: 1.4rem;
  margin-left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .symbol {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $dark-green;
    font-size: 2rem;
    padding-bottom: 2px;
    width: 34px;
    height: 34px;
    margin: 0;
  }

  .content {
    margin: 0;
    margin-left: 8px;
    color: $dark-green;
    font-weight: 600;
  }
}

.add-item-toggle.open {
  display: none;
}

.add-item-container {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.add-item-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding-right: 8px;
  padding-left: 5vw;
  background: $dark-green;
  border: none;
  color: $off-white;
  height: 34px;

  input[type="submit"] {
    color: $off-white;
    font-size: 1.6rem;
    border: 1px solid $off-white;
    background: none;
  }
}

.add-item-input,
.quantity-item-input {
  background: $dark-green;
  color: $off-white;
  border: none;
  border-bottom: 1px solid $off-white;
  margin-right: 4vw;

  &::placeholder {
    color: $gray;
  }
}

.add-item-input {
  flex-grow: 1;
  width: 100%;
}

.quantity-item-input {
  flex-shrink: 1;
  width: 20%;
  min-width: 80px;
}
.add-item-input:focus,
.quantity-item-input:focus {
  outline: none;
  background: $dark-green;
  color: $off-white;

}

.hide {
  display: none;
}

.list-items-container {
  padding-left: 12px;
  p {
    margin: 0.4em 0;
  }
}
