.logo-wrapper {
  padding: 12px 5vw;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}
.logo {
  font-size: 1.8rem;
  margin: 0;
  color: $dark-gray;
}
.lesuns {
  font-weight: 300;
}

.lesautres {
  font-weight: 800;;
}
