.show-map-container {
  background: $mustard;
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10000;
  text-align: center;
  height: 48px;
  overflow: hidden;
  border-radius: $large-radius $large-radius 0 0;

  &.open {
    height: 90vh;
  }
}

.show-map-title {
  margin: 0;
  padding-top: 15px;
  height: 48px;
}

.map-container {
  width: 90%;
  margin: auto;
  height: calc(90vh - 48px);
  border: 3px solid red;

  img {
    height: calc(90vh - 48px);
    object-fit: cover;
  }
}
