.page-title {
  margin-top: 52px;
  margin-bottom: 1em;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: $gray;
  &.dark {
    color: $dark-green;
  }
  &.light {
    color: $green;
  }
}

.big-title {
  font-size: 5.2rem;
  color: $green;
}

.label {
  color: $gray;
  text-transform: uppercase;
  margin-bottom: 0.2em;
}

.info-text {
  margin-top: 0.2em;
}


.link-text {
  color: $dark-green;
  transition: 0.3s;

  &:hover {
    color: $off-white;
    background: $dark-green;
  }
}
