<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      @import url("https://use.typekit.net/llu4tno.css");
      body {
        font-family: "objektiv-mk1", sans-serif;
        color:#29575a;
      }

      .mail-container {
        width: 92vw;
        max-width: 800px;
        margin: auto;
        border: 3px solid red;
      }

      h1 {
        font-size: 48px;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
