<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      @import url("https://use.typekit.net/llu4tno.css");
      body {
        font-family: "objektiv-mk1", sans-serif;
        color: #252523;
        font-size: 16px;
        background: #7cc5a2;
      }

      .mail-container {
        width: 92vw;
        background: white;
        max-width: 800px;
        margin: 24px auto;
        padding: 24px;
      }

      h1 {
        color:#29575a;
        font-size: 48px;
      }

      h3 {
        font-size: 24px;
      }

      h4 {
        font-size: 18px;
      }

      h1 span {
        border-bottom: 6px solid #29575a;
      }

      .label {
        color: #646463;
        margin-top: 24px;
        margin-bottom: .2em;
        text-transform: uppercase;
        font-size: 14px;
      }

      .info {
        margin: 0;
      }

      .checkbox-group {
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }

      input {
        -webkit-appearance: none;
        border: 1.6px solid #252523;
        width: 20px;
        height: 20px;
        margin-right: 8px;
      }

      input:focus,
      input:active {
        outline: none;
      }

      input:checked {
        outline: none;
        border: 1px solid #7cc5a2;
        background: #7cc5a2;
      }

      label.active-label {
        color: #7cc5a2;
        text-decoration: line-through;
      }

      .text-link {
        background-color: #7cc5a2;
        text-decoration: none;
        padding: 0px 6px;
        transition: .4s;
        color: #252523;
      }

      .text-link:hover {
        background-color: #29575a;
        color: white;
      }

    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
